
body{
    font-family: Arial, sans-serif;
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.course {
    width: 30%;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: rgb(243, 240, 240);
    cursor: pointer;
}
.course:hover {
    transform: scale(1.05);
}
.text {
    padding:10px;
}
img {
    width: 500px;
    height: 200px;
}
i {
    font-weight: bold;
    color: red;
}
h3 {
    text-transform: uppercase;
}
        